body{
    background-image: url(../images/body-bg.jpg);
}

.container{
    width: 586px;
    background: #fff;
    margin-left: 165px;
}
.appointment-form{
    padding: 50px 60px 70px 60px;
}
.main{
    padding: 60px 0;
}
input{
    width: 100%;
    display: block;
    border: none;
    border-bottom: 2px solid #ebebeb;
    padding: 5px 0;
    color: #222;
    margin-bottom: 31px;
    font-family: 'Roboto Slab';
}