body{
    background-image: url(../images/body-bg.jpg);
}

.container{
    margin: auto;
    width: 586px;
}
.appointment-form{
       background: #fff;
       border-radius: 2%;
       padding: 30px;
}
h2{
    text-align: center;
    margin:20px 0; 
}
input{
    width: 100%;
    border: none;
    border-bottom: 2px solid #ebebeb;
    padding: 5px 0;
    color: #222;
    margin-bottom: 20px;
    font-family: 'Roboto Slab';
}